<%= form_with model: @phone, id: "form" do |form| %>

  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
        <% @phone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :Phone_number %>
      <%= form.text_field :phone_number %>
      <%= form.label :Comment %>
      <%= form.text_field :comment %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
