<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="person-form">
    
      <%= select(:person, :salutation, %w[Mr. Mrs. Ms.], prompt: true) %><div class="padding"></div>
      
      <div class="require">*<%= form.label :First_Name %></div>
      <%= form.text_field :first_name %>    

      <%= form.label :Middle_Name %>
      <%= form.text_field :middle_name %>
      <div class="require">*<%= form.label :Last_Name %></div>
      <%= form.text_field :last_name %>
    <%= form.label :Social_Security_Number %>
    <%= form.text_field :social_security_number, :size => 40 %><div class="padding"></div>
    <div class="form"><%= form.label :Birthday %>
    <%= form.date_select :birthdate, 
    {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, 
    start_year: Date.today.year, end_year: Date.today.year - 100} %></div>
    <%= form.label :Comment %>
    <%= form.text_area :comment %>
  </div>
<br>
  <div class="person-form">
    <h3>Address:</h3>
    <%= form.fields_for :addresses do |a_form| %>
    <div class="require">*<%= a_form.label :Street %></div>
    <%= a_form.text_field :street, :size => 40 %>
    <div>
      <div class="require">*<%= a_form.label :City %></div>
      <%= a_form.text_field :city, :size => 40  %>
      <div class="require">*<%= a_form.label :Zip %></div>
      <%= a_form.text_field :zip, :size => 40  %>
      <%= a_form.label :State %>
      <%= a_form.text_field :state, :size => 40  %>
    </div>
    <div class="require">*<%= a_form.label :Country %></div>
    <%= a_form.country_select :country, {priority_countries: ["US"], :prompt => "--select county--"} %>
    <% end %>
  </div>
<br>
  <div class="person-form">
    <h3>Phone Number:</h3>
    <%= form.fields_for :phones do |p_form| %>
    <div class="require">*<%= p_form.label :Phone_Number %></div>
    <%= p_form.text_field :phone_number, :size => 40  %>
    <%= p_form.label :Comment %>
    <%= p_form.text_area :comment %>
    <% end %>
  </div>
<br>
  <div class="person-form">
    <h3>Email:</h3>
    <%= form.fields_for :emails do |e_form| %>
    <div class="require">*<%= e_form.label :Email %></div>
    <%= e_form.text_field :email, :size => 40 %>
    <%= e_form.label :Comment %>
    <%= e_form.text_area :comment %>
    <% end %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
