<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= select(:person, :salutation, %w[Mr. Mrs. Ms.], prompt: true) %>
      <%= form.label :First_Name %>
      <%= form.text_field :first_name %>
      <%= form.label :Middle_Name %>
      <%= form.text_field :middle_name %>
      <%= form.label :Last_Name %>
      <%= form.text_field :last_name %>
      <%= form.label :Social_Security_Number %>
      <%= form.text_field :social_security_number %>
      <%= form.label :Birthday %>
      <%= form.date_select :birthdate %>
      <%= form.label :Comment %>
      <%= form.text_area :comment %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
