<%= form_with model: @person do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= select(:person, :salutation, %w[Mr. Mrs. Ms.], prompt: true) %>
    <div class="require">*<%= form.label :First_Name %></div>
    <%= form.text_field :first_name, :size => 40 %>
    <%= form.label :Middle_Name %>
    <%= form.text_field :middle_name, :size => 40 %>
    <div class="require">*<%= form.label :Last_Name %></div>
    <%= form.text_field :last_name, :size => 40 %>
    <%= form.label :Social_Security_Number %>
    <%= form.text_field :social_security_number, :size => 40 %>
    <%= form.label :Birthday %>
    <%= form.date_select :birthdate, 
    {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, 
    start_year: Date.today.year, end_year: Date.today.year - 100} %>
    <%= form.label :Comment %>
    <%= form.text_area :comment %>
  </div>

      <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
