<div class="show">
      <td><%= @person.salutation%> <%= @person.first_name%> <%= @person.middle_name%> <%= @person.last_name%></td>
      <td><%= @person.social_security_number%></td>
      <td><%= @person.birthdate.try(:birthdate).try(:strftime, '%d of %B, %Y')%></td>
      <td><%= @person.comment%></td>
</div>
