<p id="notice"><%= notice %></p>
<div class="box">
  <div>
  <h1>People</h1>
  </div>

  
  <table class="box">
    
      <% @people.each do |person| %>
    <tr class="table">
    
          <td><%= person.first_name%> <%= person.last_name%></td>
        
          <td><%= link_to 'Show', person %><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  
      <% end %>
    
  </table>
  

  <div>
  <div class="button">
    <%= link_to 'New Person', new_person_path, :class => "text-warning" %>
  </div>
  <div>
<div>