<p id="notice"><%= notice %></p>
    <h1>
      <%= @person.salutation%> <%= @person.first_name%> <%= @person.middle_name%> <%= @person.last_name%>
    </h1>

    <div class="container_show" id="people">
      <%= render @person %>
      <div id="add">
      <%= link_to 'edit/add your basic info', edit_person_path(@person), remote: true %>
      </div>
    </div>

    <div class="container_show" id="phone-container">
      <%= render @person.phones %>
      <div class="add">
      <%= link_to 'add more phone numbers', new_person_phone_path(:person_id => @person.id), remote: true, id: "phone" %>
      </div>
    </div>

    <div class="container_show" id="email-container">
    <%= render @person.emails %>
      <div class="add">
      <%= link_to 'add more emails', new_person_email_path(:person_id => @person.id), remote: true, id: "email" %>
      </div>
    </div>
        
    <div class="container_show" id="address-container">
    <%= render @person.addresses%>
      <div class="add">
      <%= link_to 'add more Addresses', new_person_address_path(:person_id => @person.id), remote: true, id: "address" %>
      </div>
    </div>
    
 <div class="button">
<%= link_to 'Back', people_path %>
</div>
