<p id="notice"><%= notice %></p>
    <h1>
      <%= @person.salutation%> <%= @person.first_name%> <%= @person.middle_name%> <%= @person.last_name%>
    </h1>

    <div class="container_show" id="people">
      <%= render @person %>
      <div id="add">
      <%= link_to 'edit/add your basic info', edit_person_path(@person), remote: true %>
      </div>
    </div>

    <div class="container_show" id="phone-container">
      <%= render @person.phones %>
      <div class="add" id="new-phone">
      <%= link_to 'add more phone numbers', new_person_phone_path(:person_id => @person.id), remote: true, id: "phone" %>
      </div>
    </div>

    <div class="container_show">
      <% @emails.each do |email| %>
      <div class="show">
      <p> <%= email.email %> </p>
      <p> <%= email.comment %> </p>
      <div class="links">
      <%= link_to 'edit', edit_email_path(email) %>
      <%= link_to 'delete', email, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
      <% end %>
      <div class="add">
      <%= link_to 'add more emails', new_person_email_path(:person_id => @person.id) %>
      </div>
    </div>
        
    <div class="container_show">
      <% @addresses.each do |address| %>
      <div class="show">
      <div>
      <p> <%= address.street %> </p>
      <p> <%= address.city %>, <%= address.state %> <%= address.zip %></p>
      <p><%= address.country %></p>
      </div>
      <div class="links">
      <%= link_to 'edit', edit_address_path(address, @person.id) %>
      <%= link_to 'delete', address, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
      <% end %>
      <div class="add">
      <%= link_to 'add more Addresses', new_person_address_path(:person_id => @person.id) %>
      </div>
    </div>
    
 <div class="button">
<%= link_to 'Back', people_path %>
</div>
