<div id="ajax-address">
  <section class="show">
      <div id="address-show">
      <p> <%= address.street %> </p>
      <p> <%= address.city %>, <%= address.state %> <%= address.zip %></p>
      <p><%= address.country %></p>
      </div>

      <div class="links">
      <%= link_to 'edit', edit_address_path(address), remote: true %> 
      <%= link_to 'delete', address, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete" %>
      </div>
  </section>
</div>
      