<%= form_with model: @address, id: "form" do |form| %>

  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="require">*<%= form.label :Street %></div>
    <%= form.text_field :street, :size => 40 %><div class="padding"></div>
    <div class="require">*<%= form.label :City %></div>
    <%= form.text_field :city, :size => 40 %><div class="padding"></div>
    <div class="require">*<%= form.label :Zip %></div>
    <%= form.text_field :zip, :size => 40 %><div class="padding"></div>
    <%= form.label :State %>
    <%= form.text_field :state, :size => 40 %><div class="padding"></div>
    <div class="require">*<%= form.label :Country %></div>
    <%= form.country_select :country, {priority_countries: ["US"], :prompt => "--select county--"} %><div class="padding"></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
