<%= form_with url: person_emails_path(@email.person_id), local: true do |form| %>

  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
        <% @email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :Email %>
      <%= form.text_field :email %>
      <%= form.label :Comment %>
      <%= form.text_field :comment %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
